Repository liveblocks/liveblocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvie, @marcbouchenoire, @CTNicholas, @ofoucherot, @FlowFlorent

Missing liveObject.toObject();
  docs/pages/api-reference/liveblocks-client.mdx
Owners: @CTNicholas

will will => will
  docs/pages/api-reference/liveblocks-node.mdx
Owners: @CTNicholas

add webhooks banner in liveblocks/node
  docs/pages/api-reference/liveblocks-node.mdx
Owners: @CTNicholas

feat: Improve snippets in @liveblocks/client
  docs/pages/api-reference/liveblocks-client.mdx
Owners: @CTNicholas

Create PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

Public doc typos and add (#844)
  docs/pages/api-reference/liveblocks-client.mdx
  docs/pages/api-reference/liveblocks-node.mdx
Owners: @CTNicholas

Convert react-dashboard to nextjs-dashboard with typescript (#842)
  examples/nextjs-dashboard/.envrc
  examples/nextjs-dashboard/.gitignore
  examples/nextjs-dashboard/.prettierrc
  examples/nextjs-dashboard/README.md
  examples/nextjs-dashboard/next-env.d.ts
  examples/nextjs-dashboard/next.config.js
  examples/nextjs-dashboard/package-lock.json
  examples/nextjs-dashboard/package.json
  examples/nextjs-dashboard/pages/_app.tsx
  examples/nextjs-dashboard/pages/globals.css
  examples/nextjs-dashboard/pages/index.module.css
  examples/nextjs-dashboard/pages/index.tsx
  examples/nextjs-dashboard/src/components/Avatar.module.css
  examples/nextjs-dashboard/src/components/Avatar.tsx
  examples/nextjs-dashboard/src/components/Card.module.css
  examples/nextjs-dashboard/src/components/Card.tsx
  examples/nextjs-dashboard/src/components/Cursor.tsx
  examples/nextjs-dashboard/src/components/Header.module.css
  examples/nextjs-dashboard/src/components/Header.tsx
  examples/nextjs-dashboard/src/constants.ts
  examples/nextjs-dashboard/src/data.ts
  examples/nextjs-dashboard/src/liveblocks.config.ts
  examples/nextjs-dashboard/tsconfig.json
Owners: @CTNicholas

Use types from @liveblocks/core
  schema-lang/infer-schema/src/field.ts
  schema-lang/infer-schema/src/index.ts
  schema-lang/infer-schema/src/inference.ts
  schema-lang/infer-schema/src/object.ts
  schema-lang/infer-schema/src/plainLson.ts
  schema-lang/infer-schema/src/scalar.ts
  schema-lang/infer-schema/src/typeReference.ts
Owners: @nvie

Fix imports in tests
  schema-lang/infer-schema/src/tests/inferSchema.test.ts
  schema-lang/infer-schema/src/tests/testData.ts
Owners: @nvie

Create 1.bug_report.yml
  .github/ISSUE_TEMPLATE/1.bug_report.yml
Owners: none

add section
  .github/ISSUE_TEMPLATE/1.bug_report.yml
Owners: none

title
  .github/ISSUE_TEMPLATE/1.bug_report.yml
Owners: none

link to code
  .github/ISSUE_TEMPLATE/1.bug_report.yml
Owners: none

add feature request
  .github/ISSUE_TEMPLATE/2.feature_request.yml
  examples/nextjs-google-avatars-block-text-editor/.env
Owners: @CTNicholas

add feature request
  .github/ISSUE_TEMPLATE/1.bug_report.yml
  .github/ISSUE_TEMPLATE/2.feature_request.yml
Owners: none

add doc request
  .github/ISSUE_TEMPLATE/3.docs_request.yml
Owners: none

add doc request
  .github/ISSUE_TEMPLATE/3.docs_request.yml
Owners: none

titles
  .github/ISSUE_TEMPLATE/1.bug_report.yml
  .github/ISSUE_TEMPLATE/2.feature_request.yml
  .github/ISSUE_TEMPLATE/3.docs_request.yml
Owners: none

remove old
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/docs-request-for-an-update-or-improvement.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: none

add contriuting file
  CONTRIBUTING.MD
Owners: none

Upgrade nuxt to v3 to fix security vulnerabilities
  examples/nuxtjs-live-avatars/.gitignore
  examples/nuxtjs-live-avatars/.npmrc
  examples/nuxtjs-live-avatars/README.md
  examples/nuxtjs-live-avatars/app.vue
  examples/nuxtjs-live-avatars/assets/css/main.css
  examples/nuxtjs-live-avatars/components/Avatar.vue
  examples/nuxtjs-live-avatars/nuxt.config.js
  examples/nuxtjs-live-avatars/nuxt.config.ts
  examples/nuxtjs-live-avatars/package-lock.json
  examples/nuxtjs-live-avatars/package.json
  examples/nuxtjs-live-avatars/public/favicon.ico
  examples/nuxtjs-live-avatars/server/api/auth.ts
  examples/nuxtjs-live-avatars/tailwind.config.js
  examples/nuxtjs-live-avatars/tsconfig.json
  examples/nuxtjs-live-avatars/vercel.json
Owners: @CTNicholas

Add vercel edge config on nuxt example
  examples/nuxtjs-live-avatars/nuxt.config.ts
Owners: @CTNicholas

Remove typo in nuxt example
  examples/nuxtjs-live-avatars/app.vue
Owners: @CTNicholas

Replace `id` by ID
  docs/references/v2.openapi.json
Owners: @CTNicholas

Decapitalize schema in title
  docs/references/v2.openapi.json
Owners: @CTNicholas

feat: Removed Tailwind, tidied
  examples/nuxtjs-live-avatars/app.vue
  examples/nuxtjs-live-avatars/components/Avatar.vue
  examples/nuxtjs-live-avatars/package-lock.json
  examples/nuxtjs-live-avatars/package.json
  examples/nuxtjs-live-avatars/tailwind.config.js
Owners: @CTNicholas

feat: Tidied config, fixed CSS
  examples/nuxtjs-live-avatars/assets/css/main.css
  examples/nuxtjs-live-avatars/assets/globals.css
  examples/nuxtjs-live-avatars/nuxt.config.ts
  examples/nuxtjs-live-avatars/public/favicon.ico
Owners: @CTNicholas

feat: Don't need autoprefixer
  examples/nuxtjs-live-avatars/package-lock.json
  examples/nuxtjs-live-avatars/package.json
Owners: @CTNicholas

Upgrade nuxt example to v3 (#850)
  examples/nuxtjs-live-avatars/.gitignore
  examples/nuxtjs-live-avatars/.npmrc
  examples/nuxtjs-live-avatars/README.md
  examples/nuxtjs-live-avatars/app.vue
  examples/nuxtjs-live-avatars/assets/globals.css
  examples/nuxtjs-live-avatars/components/Avatar.vue
  examples/nuxtjs-live-avatars/nuxt.config.js
  examples/nuxtjs-live-avatars/nuxt.config.ts
  examples/nuxtjs-live-avatars/package-lock.json
  examples/nuxtjs-live-avatars/package.json
  examples/nuxtjs-live-avatars/server/api/auth.ts
  examples/nuxtjs-live-avatars/styles/globals.css
  examples/nuxtjs-live-avatars/tailwind.config.js
  examples/nuxtjs-live-avatars/tsconfig.json
  examples/nuxtjs-live-avatars/vercel.json
Owners: @CTNicholas

Update CONTRIBUTING.MD
  CONTRIBUTING.MD
Owners: none

Remove `comparePosition` API, expose `asPos` API
  packages/liveblocks-core/src/index.ts
Owners: @nvie

Update CHANGELOG
  CHANGELOG.md
Owners: none

Bump to 1.0.7-test1
  package-lock.json
  packages/create-liveblocks-app/package.json
  packages/liveblocks-client/package.json
  packages/liveblocks-core/package.json
  packages/liveblocks-node/package.json
  packages/liveblocks-react/package.json
  packages/liveblocks-redux/package.json
  packages/liveblocks-zustand/package.json
Owners: @CTNicholas, @nvie, @ofoucherot, @FlowFlorent

Fix two small highlighting issues
  docs/pages/guides/troubleshooting.mdx
Owners: @CTNicholas

Update App.svelte to reflect the current file naming scheme
  examples/sveltekit-live-cursors/src/components/App.svelte
Owners: @CTNicholas

Remove `comparePosition` API entirely
  packages/liveblocks-core/src/crdts/LiveList.ts
  packages/liveblocks-core/src/lib/__tests__/position.test.ts
  packages/liveblocks-core/src/lib/position.ts
Owners: @nvie

Schema: Import PlainLson types from @liveblocks/core (#847)
  schema-lang/infer-schema/src/field.ts
  schema-lang/infer-schema/src/index.ts
  schema-lang/infer-schema/src/inference.ts
  schema-lang/infer-schema/src/object.ts
  schema-lang/infer-schema/src/plainLson.ts
  schema-lang/infer-schema/src/scalar.ts
  schema-lang/infer-schema/src/tests/inferSchema.test.ts
  schema-lang/infer-schema/src/tests/testData.ts
  schema-lang/infer-schema/src/typeReference.ts
Owners: @nvie

Define an IWebSocket type
  packages/liveblocks-core/src/types/WebsocketCloseCodes.ts
Owners: @nvie

Our MockWebSocket type is now also assignable
  packages/liveblocks-core/src/__tests__/client.node.test.ts
Owners: @nvie

Export these types publicly
  packages/liveblocks-core/src/index.ts
Owners: @nvie

.github/CODEOWNERS:

# Public packages
/packages/   @nvie
/packages/liveblocks-devtools/   @nvie @marcbouchenoire
/packages/create-liveblocks-app/   @CTNicholas
/packages/liveblocks-node/   @nvie @ofoucherot @FlowFlorent 
/shared/   @nvie
/e2e/   @nvie

# Examples, docs, and starter kit
/starter-kits/   @CTNicholas
/examples/   @CTNicholas
/docs/   @CTNicholas

# Schema validation
/schema-lang/   @nvie

# Scripts
/scripts/   @nvie

# Vercel deployments
/scripts/should-example-rebuild-on-vercel.sh   @nvie @marcbouchenoire
