Repository liveblocks/liveblocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvie, @marcbouchenoire, @CTNicholas, @ofoucherot, @FlowFlorent

.github/CODEOWNERS:

# Public packages
/packages/   @nvie
/packages/liveblocks-devtools/   @nvie @marcbouchenoire
/packages/create-liveblocks-app/   @CTNicholas
/packages/liveblocks-node/   @nvie @ofoucherot @FlowFlorent 
/shared/   @nvie
/e2e/   @nvie

# Examples, docs, and starter kit
/starter-kits/   @CTNicholas
/examples/   @CTNicholas
/docs/   @CTNicholas

# Schema validation
/schema-lang/   @nvie

# Scripts
/scripts/   @nvie

# Vercel deployments
/scripts/should-example-rebuild-on-vercel.sh   @nvie @marcbouchenoire

Avoid another "any" in the public code
  packages/liveblocks-core/src/__tests__/client.node.test.ts
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Update changelog (#835)
  CHANGELOG.md
Owners: none

Only send messages on OPEN sockets
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Colocate disconnect() and reconnect()
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Colocate functions
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Remove from batch wrapper what won't have an effect on the batch
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Reorder things a bit
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Rename `delayFlush` → `scheduleFlush`
  packages/liveblocks-core/src/__tests__/_utils.ts
  packages/liveblocks-core/src/__tests__/room.test.ts
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Always explicitly clear the previous timer before assigning a new value
  packages/liveblocks-core/src/room.ts
Owners: @nvie

updated working example
  examples/react-dashboard/next-env.d.ts
  examples/react-dashboard/package-lock.json
  examples/react-dashboard/package.json
  examples/react-dashboard/pages/_app.tsx
  examples/react-dashboard/pages/globals.css
  examples/react-dashboard/pages/index.module.css
  examples/react-dashboard/pages/index.tsx
  examples/react-dashboard/src/components/Card.tsx
  examples/react-dashboard/src/components/Cursor.tsx
  examples/react-dashboard/src/components/Header.module.css
  examples/react-dashboard/src/components/Header.tsx
  examples/react-dashboard/src/constants.ts
  examples/react-dashboard/src/data.ts
  examples/react-dashboard/src/index.js
  examples/react-dashboard/src/liveblocks.config.js
  examples/react-dashboard/src/liveblocks.config.ts
  examples/react-dashboard/typings.d.ts
Owners: @CTNicholas

Is this... enough?
  .github/workflows/publish-packages.yml
Owners: none

Fix publish script (#838)
  .github/workflows/publish-packages.yml
Owners: none

Fix issues with publish script
  .github/scripts/publish.sh
Owners: none

docs - fix typo in liveblocks-zustand.mdx
  docs/pages/api-reference/liveblocks-zustand.mdx
Owners: @CTNicholas

Fix issues with publish script (#840)
  .github/scripts/publish.sh
Owners: none

Bump to 1.0.6-test3
  package-lock.json
  packages/create-liveblocks-app/package.json
  packages/liveblocks-client/package.json
  packages/liveblocks-core/package.json
  packages/liveblocks-node/package.json
  packages/liveblocks-react/package.json
  packages/liveblocks-redux/package.json
  packages/liveblocks-zustand/package.json
Owners: @CTNicholas, @nvie, @ofoucherot, @FlowFlorent

Bump to 1.0.6
  package-lock.json
  packages/create-liveblocks-app/package.json
  packages/liveblocks-client/package.json
  packages/liveblocks-core/package.json
  packages/liveblocks-node/package.json
  packages/liveblocks-react/package.json
  packages/liveblocks-redux/package.json
  packages/liveblocks-zustand/package.json
Owners: @CTNicholas, @nvie, @ofoucherot, @FlowFlorent

remove unneccasry code
  examples/react-dashboard/pages/_app.tsx
  examples/react-dashboard/pages/index.tsx
  examples/react-dashboard/src/components/Card.tsx
  examples/react-dashboard/src/components/Header.tsx
Owners: @CTNicholas

fix navigation link in zustand package per user feedback
  docs/pages/api-reference/liveblocks-zustand.mdx
Owners: @CTNicholas

fix navigation link in zustand package per user feedback (#841)
  docs/pages/api-reference/liveblocks-zustand.mdx
Owners: @CTNicholas

remove unused code
  examples/react-dashboard/pages/_app.tsx
  examples/react-dashboard/pages/index.tsx
  examples/react-dashboard/public/index.html
  examples/react-dashboard/src/components/Card.tsx
  examples/react-dashboard/src/liveblocks.config.ts
Owners: @CTNicholas

format with prettie
  examples/react-dashboard/src/components/Card.tsx
Owners: @CTNicholas

fix type errors
  examples/react-dashboard/src/liveblocks.config.ts
Owners: @CTNicholas

run prettier again
  examples/react-dashboard/src/liveblocks.config.ts
Owners: @CTNicholas

update for review
  examples/react-dashboard/next.config.js
  examples/react-dashboard/src/liveblocks.config.ts
Owners: @CTNicholas

final run of prettier
  examples/react-dashboard/.prettierrc
  examples/react-dashboard/README.md
  examples/react-dashboard/next.config.js
  examples/react-dashboard/pages/_app.tsx
  examples/react-dashboard/pages/index.tsx
  examples/react-dashboard/src/components/Card.tsx
  examples/react-dashboard/src/liveblocks.config.ts
  examples/react-dashboard/tsconfig.json
Owners: @CTNicholas

README.md
  examples/react-dashboard/README.md
Owners: @CTNicholas

remove unused useState hook
  examples/react-dashboard/src/components/Card.tsx
Owners: @CTNicholas

rename files
  examples/nextjs-dashboard/.envrc
  examples/nextjs-dashboard/.gitignore
  examples/nextjs-dashboard/.prettierrc
  examples/nextjs-dashboard/README.md
  examples/nextjs-dashboard/next-env.d.ts
  examples/nextjs-dashboard/next.config.js
  examples/nextjs-dashboard/package-lock.json
  examples/nextjs-dashboard/package.json
  examples/nextjs-dashboard/pages/_app.tsx
  examples/nextjs-dashboard/pages/globals.css
  examples/nextjs-dashboard/pages/index.module.css
  examples/nextjs-dashboard/pages/index.tsx
  examples/nextjs-dashboard/src/components/Avatar.module.css
  examples/nextjs-dashboard/src/components/Avatar.tsx
  examples/nextjs-dashboard/src/components/Card.module.css
  examples/nextjs-dashboard/src/components/Card.tsx
  examples/nextjs-dashboard/src/components/Cursor.tsx
  examples/nextjs-dashboard/src/components/Header.module.css
  examples/nextjs-dashboard/src/components/Header.tsx
  examples/nextjs-dashboard/src/constants.ts
  examples/nextjs-dashboard/src/data.ts
  examples/nextjs-dashboard/src/liveblocks.config.ts
  examples/nextjs-dashboard/tsconfig.json
  examples/react-dashboard/public/index.html
  examples/react-dashboard/src/App.js
  examples/react-dashboard/src/App.module.css
  examples/react-dashboard/src/components/Avatar.js
  examples/react-dashboard/src/components/Card.js
  examples/react-dashboard/src/components/Cursor.js
  examples/react-dashboard/src/components/Header.js
  examples/react-dashboard/src/constants.js
  examples/react-dashboard/src/data.js
  examples/react-dashboard/src/index.css
  examples/react-dashboard/src/index.js
  examples/react-dashboard/src/liveblocks.config.js
Owners: @CTNicholas

update references to react-dashboard to nextjs
  examples/nextjs-dashboard/README.md
  examples/nextjs-dashboard/package-lock.json
  examples/nextjs-dashboard/package.json
  examples/nextjs-dashboard/pages/_app.tsx
Owners: @CTNicholas

rename multiplayer to collaborative
  examples/nextjs-dashboard/README.md
Owners: @CTNicholas

Prepare for formalization of state machine (continued) (#830)
  packages/liveblocks-core/src/__tests__/_utils.ts
  packages/liveblocks-core/src/__tests__/room.test.ts
  packages/liveblocks-core/src/crdts/LiveObject.ts
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Use single lines, so they're easier to get an overview
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Make it clearer where we're testing implementation details
  packages/liveblocks-core/src/__tests__/room.test.ts
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Only expose the `buffer` and `numRetries` field from the context
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Fix MockWebSocket helper: initial websocket connection is CONNECTING
  packages/liveblocks-core/src/__tests__/_utils.ts
Owners: @nvie

Remove unneeded annotation
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Don't make heartbeat() callable from the outside
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Apply suggestions from code review
  examples/nextjs-dashboard/package.json
  examples/nextjs-dashboard/pages/_app.tsx
  examples/nextjs-dashboard/pages/index.tsx
  examples/nextjs-dashboard/src/components/Card.tsx
  examples/nextjs-dashboard/src/liveblocks.config.ts
Owners: @CTNicholas

removed 'as' type casting
  examples/nextjs-dashboard/pages/index.tsx
  examples/nextjs-dashboard/src/components/Card.tsx
Owners: @CTNicholas
