Repository liveblocks/liveblocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvie, @marcbouchenoire, @CTNicholas, @ofoucherot, @FlowFlorent

Add quick emoji picker
  packages/liveblocks-react-comments/src/components/Comment.tsx
  packages/liveblocks-react-comments/src/components/internal/QuickEmojiPicker.tsx
  packages/liveblocks-react-comments/src/components/internal/Tooltip.tsx
  packages/liveblocks-react-comments/src/styles/index.scss
  packages/liveblocks-react-comments/src/utils/group-by.ts
Owners: @marcbouchenoire

Add reactions mutations and update models
  packages/liveblocks-core/src/comments/index.ts
  packages/liveblocks-core/src/comments/types/CommentBody.ts
  packages/liveblocks-core/src/comments/types/CommentData.ts
  packages/liveblocks-core/src/index.ts
  packages/liveblocks-react-comments/src/__tests__/index.test.tsx
  packages/liveblocks-react/src/comments/CommentsRoom.ts
  packages/liveblocks-react/src/comments/errors.ts
  packages/liveblocks-react/src/factory.tsx
  packages/liveblocks-react/src/types.ts
Owners: @nvie, @marcbouchenoire

Animate quick emoji picker
  packages/liveblocks-react-comments/src/styles/index.scss
Owners: @marcbouchenoire

Add virtualization to EmojiPicker.List
  package-lock.json
  packages/liveblocks-core/src/comments/types/CommentBody.ts
  packages/liveblocks-react-comments/package.json
  packages/liveblocks-react-comments/src/primitives/EmojiPicker/contexts.ts
  packages/liveblocks-react-comments/src/primitives/EmojiPicker/index.tsx
  packages/liveblocks-react-comments/src/primitives/EmojiPicker/types.ts
  packages/liveblocks-react-comments/src/primitives/EmojiPicker/utils.ts
Owners: @nvie, @marcbouchenoire

Rename reaction mutations
  packages/liveblocks-core/src/comments/index.ts
  packages/liveblocks-react-comments/src/components/Comment.tsx
  packages/liveblocks-react-comments/src/primitives/index.ts
  packages/liveblocks-react/src/comments/CommentsRoom.ts
  packages/liveblocks-react/src/comments/errors.ts
  packages/liveblocks-react/src/factory.tsx
  packages/liveblocks-react/src/types.ts
Owners: @nvie, @marcbouchenoire

Add mutations and initial styles
  packages/liveblocks-react-comments/src/components/Comment.tsx
  packages/liveblocks-react-comments/src/styles/constants.scss
  packages/liveblocks-react-comments/src/styles/index.scss
Owners: @marcbouchenoire

Fix various issues
  packages/liveblocks-react-comments/src/components/Comment.tsx
  packages/liveblocks-react-comments/src/components/internal/QuickEmojiPicker.tsx
  packages/liveblocks-react-comments/src/styles/index.scss
  packages/liveblocks-react/src/comments/errors.ts
Owners: @marcbouchenoire, @nvie

Mention .local, .localhost domains (#1139)
  docs/pages/platform/plans.mdx
Owners: @CTNicholas

Mock useTransition for React <18
  packages/liveblocks-react-comments/src/primitives/EmojiPicker/index.tsx
  packages/liveblocks-react-comments/src/utils/use-id.ts
  packages/liveblocks-react-comments/src/utils/use-transition.ts
Owners: @marcbouchenoire

Add missing “use client” directives
  packages/liveblocks-react-comments/src/config.tsx
  packages/liveblocks-react-comments/src/utils/Portal.tsx
Owners: @marcbouchenoire

Improve Emoji visually if misused
  packages/liveblocks-react-comments/src/components/internal/QuickEmojiPicker.tsx
  packages/liveblocks-react-comments/src/primitives/internal/Emoji.tsx
  packages/liveblocks-react-comments/src/styles/index.scss
Owners: @marcbouchenoire

Capitalize icon files
  packages/liveblocks-react-comments/src/components/Comment.tsx
  packages/liveblocks-react-comments/src/components/Composer.tsx
  packages/liveblocks-react-comments/src/components/Thread.tsx
  packages/liveblocks-react-comments/src/icons/Check.tsx
  packages/liveblocks-react-comments/src/icons/Cross.tsx
  packages/liveblocks-react-comments/src/icons/Delete.tsx
  packages/liveblocks-react-comments/src/icons/Edit.tsx
  packages/liveblocks-react-comments/src/icons/Ellipsis.tsx
  packages/liveblocks-react-comments/src/icons/Emoji.tsx
  packages/liveblocks-react-comments/src/icons/Mention.tsx
  packages/liveblocks-react-comments/src/icons/Resolve.tsx
  packages/liveblocks-react-comments/src/icons/Resolved.tsx
  packages/liveblocks-react-comments/src/icons/Send.tsx
Owners: @marcbouchenoire

Add missing displayName for link components
  packages/liveblocks-react-comments/src/primitives/Comment/index.tsx
  packages/liveblocks-react-comments/src/primitives/Composer/index.tsx
Owners: @marcbouchenoire

Breaking: Replace render props by single “components” prop
  docs/pages/api-reference/liveblocks-react-comments.mdx
  packages/liveblocks-react-comments/src/components/Comment.tsx
  packages/liveblocks-react-comments/src/components/Composer.tsx
  packages/liveblocks-react-comments/src/primitives/Comment/index.tsx
  packages/liveblocks-react-comments/src/primitives/Comment/types.ts
  packages/liveblocks-react-comments/src/primitives/Comment/utils.ts
  packages/liveblocks-react-comments/src/primitives/Composer/contexts.ts
  packages/liveblocks-react-comments/src/primitives/Composer/index.tsx
  packages/liveblocks-react-comments/src/primitives/Composer/types.ts
  packages/liveblocks-react-comments/src/primitives/index.ts
Owners: @CTNicholas, @marcbouchenoire

Fix types conflict with newer React types
  packages/liveblocks-react-comments/src/components/internal/Dropdown.tsx
  packages/liveblocks-react-comments/src/components/internal/Tooltip.tsx
Owners: @marcbouchenoire

Add more lint rules and fix small issues
  package-lock.json
  packages/liveblocks-react-comments/.eslintrc.js
  packages/liveblocks-react-comments/package.json
  packages/liveblocks-react-comments/src/components/Comment.tsx
  packages/liveblocks-react-comments/src/components/Composer.tsx
  packages/liveblocks-react-comments/src/components/internal/Button.tsx
  packages/liveblocks-react-comments/src/primitives/Composer/index.tsx
Owners: @marcbouchenoire

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Fix package-lock.json
  package-lock.json
Owners: none

Improve how mentions look across multiple lines
  packages/liveblocks-react-comments/src/styles/index.scss
Owners: @marcbouchenoire

Close full emoji picker when selecting an emoji
  packages/liveblocks-react-comments/src/components/internal/EmojiPicker.tsx
  packages/liveblocks-react-comments/src/components/internal/QuickEmojiPicker.tsx
Owners: @marcbouchenoire

Fix re-ordering reactions
  packages/liveblocks-react-comments/src/components/Comment.tsx
Owners: @marcbouchenoire

Tweak reactions
  packages/liveblocks-react-comments/src/components/Comment.tsx
  packages/liveblocks-react-comments/src/components/internal/Button.tsx
  packages/liveblocks-react-comments/src/styles/index.scss
Owners: @marcbouchenoire

Improve grayscale contrast
  packages/liveblocks-react-comments/src/styles/index.scss
Owners: @marcbouchenoire

Add tooltips with who reacted
  packages/liveblocks-react-comments/src/components/Comment.tsx
  packages/liveblocks-react-comments/src/components/internal/EmojiPicker.tsx
  packages/liveblocks-react-comments/src/components/internal/List.tsx
  packages/liveblocks-react-comments/src/overrides.tsx
  packages/liveblocks-react-comments/tsconfig.json
Owners: @marcbouchenoire

Upgrade playwright (#1145)
  e2e/next-sandbox/package.json
  package-lock.json
Owners: @nvie

Change quick emojis
  packages/liveblocks-react-comments/src/components/internal/QuickEmojiPicker.tsx
Owners: @marcbouchenoire

Prevent picker width changing while loading
  packages/liveblocks-react-comments/src/primitives/EmojiPicker/index.tsx
Owners: @marcbouchenoire

Fix cancelIdleCallback runtime error
  packages/liveblocks-react-comments/src/primitives/EmojiPicker/index.tsx
Owners: @marcbouchenoire

Breaking: Rename indentBody to indentContent
  docs/pages/api-reference/liveblocks-react-comments.mdx
  packages/liveblocks-react-comments/src/components/Comment.tsx
  packages/liveblocks-react-comments/src/components/Thread.tsx
  packages/liveblocks-react-comments/src/styles/index.scss
Owners: @CTNicholas, @marcbouchenoire

Replace virtua by react-virtuoso
  package-lock.json
  packages/liveblocks-react-comments/package.json
  packages/liveblocks-react-comments/src/primitives/EmojiPicker/contexts.ts
  packages/liveblocks-react-comments/src/primitives/EmojiPicker/index.tsx
  packages/liveblocks-react-comments/src/primitives/EmojiPicker/types.ts
  packages/liveblocks-react-comments/src/primitives/EmojiPicker/utils.ts
  packages/liveblocks-react-comments/src/styles/index.scss
Owners: @marcbouchenoire

Add new icon
  packages/liveblocks-react-comments/src/components/Comment.tsx
  packages/liveblocks-react-comments/src/icons/EmojiAdd.tsx
Owners: @marcbouchenoire

Continue exploring full emoji picker
  packages/liveblocks-react-comments/src/components/Comment.tsx
  packages/liveblocks-react-comments/src/components/internal/EmojiPicker.tsx
  packages/liveblocks-react-comments/src/overrides.tsx
  packages/liveblocks-react-comments/src/primitives/EmojiPicker/contexts.ts
  packages/liveblocks-react-comments/src/primitives/EmojiPicker/index.tsx
  packages/liveblocks-react-comments/src/primitives/EmojiPicker/types.ts
  packages/liveblocks-react-comments/src/styles/index.scss
Owners: @marcbouchenoire

Add loading and empty states to emoji picker
  packages/liveblocks-react-comments/src/components/internal/EmojiPicker.tsx
  packages/liveblocks-react-comments/src/components/internal/Icon.tsx
  packages/liveblocks-react-comments/src/icons/Spinner.tsx
  packages/liveblocks-react-comments/src/overrides.tsx
  packages/liveblocks-react-comments/src/primitives/EmojiPicker/index.tsx
  packages/liveblocks-react-comments/src/primitives/EmojiPicker/types.ts
  packages/liveblocks-react-comments/src/styles/index.scss
Owners: @marcbouchenoire

Fix button focus rings
  packages/liveblocks-react-comments/src/styles/index.scss
Owners: @marcbouchenoire

Continue styling full emoji picker
  packages/liveblocks-react-comments/src/components/internal/EmojiPicker.tsx
  packages/liveblocks-react-comments/src/primitives/EmojiPicker/index.tsx
  packages/liveblocks-react-comments/src/primitives/EmojiPicker/types.ts
  packages/liveblocks-react-comments/src/primitives/EmojiPicker/utils.ts
  packages/liveblocks-react-comments/src/styles/constants.scss
  packages/liveblocks-react-comments/src/styles/index.scss
Owners: @marcbouchenoire

Improve tooltips
  packages/liveblocks-react-comments/src/components/Comment.tsx
  packages/liveblocks-react-comments/src/components/Composer.tsx
  packages/liveblocks-react-comments/src/components/internal/Tooltip.tsx
  packages/liveblocks-react-comments/src/styles/constants.scss
  packages/liveblocks-react-comments/src/styles/index.scss
Owners: @marcbouchenoire

Add icon to search input
  packages/liveblocks-react-comments/src/components/internal/EmojiPicker.tsx
  packages/liveblocks-react-comments/src/icons/Search.tsx
  packages/liveblocks-react-comments/src/styles/index.scss
Owners: @marcbouchenoire

Fix focus ring issues
  packages/liveblocks-react-comments/src/components/Comment.tsx
  packages/liveblocks-react-comments/src/components/internal/Button.tsx
  packages/liveblocks-react-comments/src/styles/index.scss
Owners: @marcbouchenoire

Show own name in tooltip as “you”
  packages/liveblocks-react-comments/src/components/Comment.tsx
  packages/liveblocks-react-comments/src/components/internal/User.tsx
  packages/liveblocks-react-comments/src/overrides.tsx
Owners: @marcbouchenoire

Improve emoji fetching and add version detection
  package-lock.json
  packages/liveblocks-react-comments/package.json
  packages/liveblocks-react-comments/src/constants.ts
  packages/liveblocks-react-comments/src/primitives/EmojiPicker/index.tsx
  packages/liveblocks-react-comments/src/primitives/EmojiPicker/types.ts
  packages/liveblocks-react-comments/src/primitives/EmojiPicker/utils.ts
  packages/liveblocks-react-comments/src/primitives/internal/Emoji.tsx
Owners: @marcbouchenoire

.github/CODEOWNERS:

# Public packages
/packages/   @nvie
/packages/liveblocks-devtools/   @nvie @marcbouchenoire
/packages/create-liveblocks-app/   @CTNicholas
/packages/liveblocks-node/   @nvie @ofoucherot @FlowFlorent
/packages/liveblocks-react-comments/   @marcbouchenoire
/shared/   @nvie
/e2e/   @nvie

# Examples, docs, and starter kit
/starter-kits/   @CTNicholas
/examples/   @CTNicholas
/docs/   @CTNicholas

# Schema validation
/schema-lang/   @nvie

# Scripts
/scripts/   @nvie

# Vercel deployments
/scripts/should-example-rebuild-on-vercel.sh   @nvie @marcbouchenoire
