Repository liveblocks/liveblocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvie, @marcbouchenoire, @CTNicholas, @ofoucherot, @FlowFlorent

Change API of makeStateMachine to equal the createRoom API
  packages/liveblocks-core/src/__tests__/_utils.ts
  packages/liveblocks-core/src/__tests__/room.test.ts
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Name inner API consistently with outer private API
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Remove makeStateMachine -- unit tests should now create the Room using the regular API
  packages/liveblocks-core/src/__tests__/_utils.ts
  packages/liveblocks-core/src/__tests__/room.test.ts
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Reorder & comment
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Extract out PrivateRoomAPI type for Room's __internal prop
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Make the types simpler to see/change
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Mimick the same nested structure from Room on the Machine type
  packages/liveblocks-core/src/__tests__/_utils.ts
  packages/liveblocks-core/src/__tests__/room.test.ts
  packages/liveblocks-core/src/crdts/__tests__/LiveList.test.ts
  packages/liveblocks-core/src/crdts/__tests__/LiveObject.test.ts
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Mimick __internal structure in Machine and Room types
  packages/liveblocks-core/src/room.ts
Owners: @nvie

DRY up 2 more props
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Ensure we never accidentally export the private createRoom API
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Remove empty wrapper
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Put `subscribe` prop on Machine, like Room
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Remove XXX comments (will get resolved in a separate PR)
  packages/liveblocks-core/src/__tests__/_utils.ts
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Consistency pass: rename all "machine" ivars in unit tests to "room"
  packages/liveblocks-core/src/__tests__/_utils.ts
  packages/liveblocks-core/src/__tests__/room.test.ts
  packages/liveblocks-core/src/crdts/__tests__/LiveList.test.ts
  packages/liveblocks-core/src/crdts/__tests__/LiveMap.test.ts
  packages/liveblocks-core/src/crdts/__tests__/LiveObject.test.ts
Owners: @nvie

Stop exporting `makeClassicSubscribeFn`, test using the regular public room.subscribe() API
  packages/liveblocks-core/src/__tests__/_utils.ts
  packages/liveblocks-core/src/__tests__/room.test.ts
  packages/liveblocks-core/src/crdts/__tests__/LiveList.test.ts
  packages/liveblocks-core/src/crdts/__tests__/LiveMap.test.ts
  packages/liveblocks-core/src/crdts/__tests__/LiveObject.test.ts
  packages/liveblocks-core/src/crdts/__tests__/doc.test.ts
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Use string literals for event handlers
  packages/liveblocks-core/src/types/IWebSocket.ts
Owners: @nvie

Avoid another `any` in the public code (#836)
  packages/liveblocks-core/package.json
  packages/liveblocks-core/src/__tests__/client.node.test.ts
  packages/liveblocks-core/src/__tests__/room.test.ts
  packages/liveblocks-core/src/crdts/__tests__/LiveList.test.ts
  packages/liveblocks-core/src/crdts/__tests__/LiveMap.test.ts
  packages/liveblocks-core/src/crdts/__tests__/LiveObject.test.ts
  packages/liveblocks-core/src/index.ts
  packages/liveblocks-core/src/room.ts
  packages/liveblocks-core/src/types/IWebSocket.ts
  packages/liveblocks-core/src/types/WebsocketCloseCodes.ts
  packages/liveblocks-core/test-d/polyfills.test-d.ts
  shared/eslint-config/restricted-syntax.js
Owners: @nvie

Use named types for close event params
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Use IWebSocketEvent here, instead of MessageEvent
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Internal prefactoring: combine `Machine` with and `Room` types (#857)
  packages/liveblocks-core/src/__tests__/_utils.ts
  packages/liveblocks-core/src/__tests__/immutable.test.ts
  packages/liveblocks-core/src/__tests__/room.test.ts
  packages/liveblocks-core/src/crdts/__tests__/LiveList.test.ts
  packages/liveblocks-core/src/crdts/__tests__/LiveMap.test.ts
  packages/liveblocks-core/src/crdts/__tests__/LiveObject.test.ts
  packages/liveblocks-core/src/crdts/__tests__/doc.test.ts
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Upgrade CHANGELOG
  CHANGELOG.md
Owners: none

Prettier
  CHANGELOG.md
Owners: none

Avoid unsafe implicit any assignments
  packages/liveblocks-core/src/client.ts
  packages/liveblocks-core/src/devtools/bridge.ts
Owners: @nvie

Some final ESLint issues
  packages/liveblocks-core/src/__tests__/client.node.test.ts
Owners: @nvie

Deal with potential undefineds
  packages/liveblocks-devtools/src/devtools/components/Tree.tsx
Owners: @nvie, @marcbouchenoire

Ignore some classes of issues for liveblocks-devtools
  packages/liveblocks-devtools/.eslintrc.js
  packages/liveblocks-devtools/src/devtools/components/ResizablePanel.tsx
Owners: @nvie, @marcbouchenoire

Always use an explicit scope when binding local variables in a switch block
  packages/liveblocks-devtools/src/devtools/components/Tree.tsx
Owners: @nvie, @marcbouchenoire

Make explicit that this promise isn't awaited
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Ignore this category of errors in unit tests
  packages/liveblocks-core/.eslintrc.js
Owners: @nvie

Ignore noisy rule
  packages/liveblocks-core/.eslintrc.js
Owners: @nvie

Remove async from synchronous test functions
  packages/liveblocks-core/src/__tests__/room.test.ts
  packages/liveblocks-react/src/__tests__/index.test.tsx
Owners: @nvie

Explicitly state that we're not awaiting the promise here
  packages/liveblocks-core/src/room.ts
  packages/liveblocks-devtools/src/background.ts
  packages/liveblocks-devtools/src/content.ts
  packages/liveblocks-devtools/src/devtools/index.tsx
  packages/liveblocks-redux/src/index.ts
  packages/liveblocks-zustand/src/index.ts
Owners: @nvie, @marcbouchenoire

Add missing lint script in liveblocks-devtools
  packages/liveblocks-devtools/package.json
Owners: @nvie, @marcbouchenoire

Remove return of unsafe `any`
  packages/liveblocks-core/src/immutable.ts
Owners: @nvie

Remove async from function where it isn't needed
  packages/liveblocks-core/src/__tests__/_utils.ts
Owners: @nvie

Avoid anys
  packages/liveblocks-core/src/refs/__tests__/ValueRef.test.ts
Owners: @nvie

Avoid unknown values in string literals
  packages/liveblocks-core/src/immutable.ts
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Ignore a few of these newer, stricter ESLint rules
  packages/liveblocks-react/.eslintrc.js
  packages/liveblocks-react/src/factory.tsx
  packages/liveblocks-redux/.eslintrc.js
  packages/liveblocks-zustand/.eslintrc.js
Owners: @nvie

Remove implicit anys
  packages/liveblocks-devtools/src/content.ts
  packages/liveblocks-devtools/src/devtools/components/Tree.tsx
Owners: @nvie, @marcbouchenoire

Avoid any-typed globals
  packages/liveblocks-core/src/devtools/index.ts
  packages/liveblocks-core/src/room.ts
Owners: @nvie

.github/CODEOWNERS:

# Public packages
/packages/   @nvie
/packages/liveblocks-devtools/   @nvie @marcbouchenoire
/packages/create-liveblocks-app/   @CTNicholas
/packages/liveblocks-node/   @nvie @ofoucherot @FlowFlorent 
/shared/   @nvie
/e2e/   @nvie

# Examples, docs, and starter kit
/starter-kits/   @CTNicholas
/examples/   @CTNicholas
/docs/   @CTNicholas

# Schema validation
/schema-lang/   @nvie

# Scripts
/scripts/   @nvie

# Vercel deployments
/scripts/should-example-rebuild-on-vercel.sh   @nvie @marcbouchenoire
