Repository liveblocks/liveblocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvie, @marcbouchenoire, @CTNicholas, @ofoucherot, @FlowFlorent

.github/CODEOWNERS:

# Public packages
/packages/   @nvie
/packages/liveblocks-devtools/   @nvie @marcbouchenoire
/packages/create-liveblocks-app/   @CTNicholas
/packages/liveblocks-node/   @nvie @ofoucherot @FlowFlorent 
/shared/   @nvie
/e2e/   @nvie

# Examples, docs, and starter kit
/starter-kits/   @CTNicholas
/examples/   @CTNicholas
/docs/   @CTNicholas

# Schema validation
/schema-lang/   @nvie

# Scripts
/scripts/   @nvie

# Vercel deployments
/scripts/should-example-rebuild-on-vercel.sh   @nvie @marcbouchenoire

Remove `.subscribe()` API from the state machine
  packages/liveblocks-core/src/__tests__/_utils.ts
  packages/liveblocks-core/src/__tests__/room.test.ts
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Don't rely on .subscribe() in these tests, subscribe to the typed events directly
  packages/liveblocks-core/src/__tests__/_utils.ts
  packages/liveblocks-core/src/__tests__/immutable.test.ts
  packages/liveblocks-core/src/__tests__/room.test.ts
  packages/liveblocks-core/src/crdts/__tests__/LiveList.test.ts
  packages/liveblocks-core/src/crdts/__tests__/LiveMap.test.ts
  packages/liveblocks-core/src/crdts/__tests__/LiveObject.test.ts
Owners: @nvie

Documentation
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Properly type the interval and timeout types, avoid `any`s
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Remove more unsafe `any`s
  packages/liveblocks-core/src/crdts/liveblocks-helpers.ts
  packages/liveblocks-core/src/room.ts
Owners: @nvie

feat: Rejigged broadcast guide
  tutorial/nextjs/getting-started/broadcasting-events/guide.mdx
Owners: none

feat: Wiki link for toast notifications
  tutorial/nextjs/getting-started/broadcasting-events/guide.mdx
Owners: none

Move closer to call site, don't export
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Inline trivial getters
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Always keep raw and parsed token together
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Lints
  packages/liveblocks-core/src/room.ts
Owners: @nvie

feat: Conflict free data demo
  tutorial/nextjs/getting-started/broadcasting-events/initial/useToast.tsx
  tutorial/nextjs/getting-started/conflict-free-data/guide.mdx
  tutorial/nextjs/getting-started/conflict-free-data/initial/App.tsx
  tutorial/nextjs/getting-started/conflict-free-data/initial/Room.tsx
  tutorial/nextjs/getting-started/conflict-free-data/initial/components/Cursor.tsx
  tutorial/nextjs/getting-started/conflict-free-data/initial/liveblocks.config.ts
  tutorial/nextjs/getting-started/conflict-free-data/initial/pages/index.module.css
  tutorial/nextjs/getting-started/conflict-free-data/initial/pages/index.tsx
  tutorial/nextjs/getting-started/conflict-free-data/initial/styles/global.css
  tutorial/nextjs/getting-started/conflict-free-data/solved-diff/App.tsx
  tutorial/nextjs/getting-started/conflict-free-data/solved-diff/Room.tsx
  tutorial/nextjs/getting-started/conflict-free-data/solved-diff/liveblocks.config.ts
Owners: none

Bump create-liveblocks-app 1.0.5
  package-lock.json
  packages/create-liveblocks-app/package.json
Owners: @CTNicholas

Slightly tweak prompt
  .github/workflows/publish-packages.yml
Owners: none

Publish create-liveblocks-app with the rest of our packages
  .github/scripts/publish.sh
  .github/scripts/release.sh
Owners: none

Use neutral version in example
  .github/workflows/publish-packages.yml
Owners: none

Replace regex by manual loop, for perf
  packages/liveblocks-core/src/lib/position.ts
Owners: @nvie

Prepare for formalization of state machine (#828)
  e2e/next-sandbox/pages/offline/index.tsx
  packages/liveblocks-core/src/__tests__/_utils.ts
  packages/liveblocks-core/src/__tests__/immutable.test.ts
  packages/liveblocks-core/src/__tests__/room.test.ts
  packages/liveblocks-core/src/client.ts
  packages/liveblocks-core/src/crdts/__tests__/LiveList.test.ts
  packages/liveblocks-core/src/crdts/__tests__/LiveMap.test.ts
  packages/liveblocks-core/src/crdts/__tests__/LiveObject.test.ts
  packages/liveblocks-core/src/crdts/liveblocks-helpers.ts
  packages/liveblocks-core/src/devtools/index.ts
  packages/liveblocks-core/src/devtools/protocol.ts
  packages/liveblocks-core/src/index.ts
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Colocate functions
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Rename `flushDataToMessages` → `serializeBuffer`
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Mark possible fields as read-only
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Comments
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Move construction of node map tree into LiveObject class
  packages/liveblocks-core/src/crdts/LiveObject.ts
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Group tracked intervals and timeouts
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Use modern iteration
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Comments
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Rename + colocate
  packages/liveblocks-core/src/__tests__/room.test.ts
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Group together lastFlushedAt with buffer
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Release `create-liveblocks-app` with other packages (#832)
  .github/scripts/publish.sh
  .github/scripts/release.sh
  .github/workflows/publish-packages.yml
  CHANGELOG.md
Owners: none

Rename ConnectionStatus → ConnectionState
  packages/liveblocks-devtools/src/devtools/contexts/CurrentRoom.tsx
Owners: @nvie, @marcbouchenoire

Avoid interactive prompts during the publish script when run from CI
  .github/scripts/publish.sh
Owners: none

Avoid interactive prompts during the publish script when run from CI (#833)
  .github/scripts/publish.sh
Owners: none

Limit builds to the relevant packages only
  .github/workflows/publish-devtools.yml
  .github/workflows/publish-packages.yml
Owners: none

Limit builds to the relevant packages only when publishing (#834)
  .github/workflows/publish-devtools.yml
  .github/workflows/publish-packages.yml
Owners: none

Have `create-liveblocks-app` generate a config file for you (#803)
  package-lock.json
  packages/create-liveblocks-app/README.MD
  packages/create-liveblocks-app/bin/create-liveblocks-app.ts
  packages/create-liveblocks-app/bin/flags.ts
  packages/create-liveblocks-app/bin/templates/init/config-generation.ts
  packages/create-liveblocks-app/bin/templates/init/index.ts
  packages/create-liveblocks-app/bin/templates/init/init-prompts.ts
  packages/create-liveblocks-app/bin/templates/init/init-template.ts
  packages/create-liveblocks-app/package.json
Owners: @CTNicholas

Internal refactoring of the `Pos` lib (#565)
  packages/liveblocks-core/src/crdts/AbstractCrdt.ts
  packages/liveblocks-core/src/crdts/LiveList.ts
  packages/liveblocks-core/src/lib/__tests__/position.test.ts
  packages/liveblocks-core/src/lib/position.ts
  packages/liveblocks-core/src/lib/utils.ts
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none
