Repository liveblocks/liveblocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvie, @marcbouchenoire, @CTNicholas, @ofoucherot, @FlowFlorent

.github/CODEOWNERS:

# Public packages
/packages/   @nvie
/packages/liveblocks-devtools/   @nvie @marcbouchenoire
/packages/create-liveblocks-app/   @CTNicholas
/packages/liveblocks-node/   @nvie @ofoucherot @FlowFlorent
/packages/liveblocks-react-comments/   @marcbouchenoire
/shared/   @nvie
/e2e/   @nvie

# Examples, docs, and starter kit
/starter-kits/   @CTNicholas
/examples/   @CTNicholas
/docs/   @CTNicholas

# Schema validation
/schema-lang/   @nvie

# Scripts
/scripts/   @nvie

# Vercel deployments
/scripts/should-example-rebuild-on-vercel.sh   @nvie @marcbouchenoire

Also update changelog for React
  CHANGELOG.md
Owners: none

Rename internal type `CustomEvent` → `RoomEventMessage`
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Export the `RoomEventMessage` in core, so it can be reused in React
  packages/liveblocks-core/src/index.ts
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Update types for the React package (and DRY definitions up)
  packages/liveblocks-react/src/factory.tsx
  packages/liveblocks-react/src/types.ts
Owners: @nvie

Update client and React docs
  docs/pages/api-reference/liveblocks-client.mdx
  docs/pages/api-reference/liveblocks-react.mdx
Owners: @CTNicholas

Improve discriminated types
  packages/liveblocks-react/src/comments/CommentsRoom.ts
  packages/liveblocks-react/src/factory.tsx
  packages/liveblocks-react/src/types.ts
Owners: @nvie

Update docs/pages/api-reference/liveblocks-react.mdx
  docs/pages/api-reference/liveblocks-react.mdx
Owners: @CTNicholas

Consistently show all the properties everywhere
  docs/pages/api-reference/liveblocks-client.mdx
  docs/pages/api-reference/liveblocks-react.mdx
Owners: @CTNicholas

Typo
  docs/pages/api-reference/liveblocks-client.mdx
Owners: @CTNicholas

Add missing CommentsConfig to the docs
  docs/pages/api-reference/liveblocks-react-comments.mdx
Owners: @CTNicholas

Add missing table and JSDoc comment
  docs/pages/api-reference/liveblocks-react-comments.mdx
  packages/liveblocks-react-comments/src/config.tsx
Owners: @CTNicholas, @marcbouchenoire

Comments: Document `CommentsConfig` (#1158)
  docs/pages/api-reference/liveblocks-react-comments.mdx
  packages/liveblocks-react-comments/src/config.tsx
Owners: @CTNicholas, @marcbouchenoire

5 minutes -> 5 seconds
  docs/pages/platform/webhooks.mdx
  guides/pages/how-to-synchronize-your-liveblocks-yjs-document-data-to-a-planetscale-mysql-database.mdx
  guides/pages/how-to-synchronize-your-liveblocks-yjs-document-data-to-a-supabase-postgres-database.mdx
  guides/pages/how-to-synchronize-your-liveblocks-yjs-document-data-to-a-vercel-postgres-database.mdx
Owners: @CTNicholas

fix package lock
  package-lock.json
Owners: none

Rename to addReaction and removeReaction
  docs/pages/api-reference/liveblocks-react.mdx
  packages/liveblocks-core/src/comments/index.ts
  packages/liveblocks-react-comments/src/components/Comment.tsx
  packages/liveblocks-react/src/comments/CommentsRoom.ts
  packages/liveblocks-react/src/comments/errors.ts
  packages/liveblocks-react/src/factory.tsx
  packages/liveblocks-react/src/types.ts
Owners: @CTNicholas, @nvie, @marcbouchenoire

fix package lock again
  package-lock.json
Owners: none

add name to persist options
  packages/liveblocks-zustand/test-d/basic.test-d.ts
Owners: @nvie

Apply suggestions from code review
  docs/pages/platform/webhooks.mdx
Owners: @CTNicholas

Revert "Merge branch 'main' into comments-reactions"
  docs/pages/api-reference/liveblocks-react-comments.mdx
  packages/liveblocks-react-comments/src/config.tsx
Owners: @CTNicholas, @marcbouchenoire

update the 3 guides
  guides/pages/how-to-synchronize-your-liveblocks-yjs-document-data-to-a-planetscale-mysql-database.mdx
  guides/pages/how-to-synchronize-your-liveblocks-yjs-document-data-to-a-supabase-postgres-database.mdx
  guides/pages/how-to-synchronize-your-liveblocks-yjs-document-data-to-a-vercel-postgres-database.mdx
Owners: none
