Repository liveblocks/liveblocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvie, @ofoucherot, @FlowFlorent, @marcbouchenoire, @CTNicholas

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Start using `corepack` and upgrade to Turbo v2 (#1796)
  e2e/next-sandbox/turbo.json
  package-lock.json
  package.json
  packages/liveblocks-core/turbo.json
  schema-lang/liveblocks-schema/turbo.json
  tools/liveblocks-devtools/turbo.json
  turbo.json
Owners: @nvie, @marcbouchenoire

Run `npm audit fix`
  package-lock.json
Owners: none

Prettier
  packages/liveblocks-react-ui/src/primitives/Composer/index.tsx
Owners: @marcbouchenoire

Upgrade prettier to latest version
  package-lock.json
  package.json
Owners: none

Run `npm audit fix` + upgrade Prettier (#1781)
  package-lock.json
  package.json
  packages/liveblocks-react-ui/src/primitives/Composer/index.tsx
Owners: @marcbouchenoire

Fix logic bug
  packages/liveblocks-react/src/liveblocks.tsx
Owners: @nvie

Update changelog
  CHANGELOG.md
Owners: none

Improve pasting unsupported elements
  packages/liveblocks-react-ui/src/slate/plugins/paste-html.ts
Owners: @marcbouchenoire

Fix bug where result of selector must be stable result between rerenders
  CHANGELOG.md
  packages/liveblocks-react/src/liveblocks.tsx
Owners: @nvie

Fix broken useTransition fallback
  packages/liveblocks-react-ui/src/utils/use-transition.ts
Owners: @marcbouchenoire

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Update packages/liveblocks-react-ui/src/utils/use-transition.ts
  packages/liveblocks-react-ui/src/utils/use-transition.ts
Owners: @marcbouchenoire

Expose `wait` util generically
  packages/liveblocks-core/e2e/utils.ts
  packages/liveblocks-core/src/__tests__/_waitUtils.ts
  packages/liveblocks-core/src/index.ts
  packages/liveblocks-core/src/lib/__tests__/batch.test.ts
  packages/liveblocks-core/src/lib/__tests__/fsm.test.ts
  packages/liveblocks-core/src/lib/utils.ts
  packages/liveblocks-react/src/__tests__/_MockWebSocket.ts
  packages/liveblocks-react/src/__tests__/_utils.tsx
  packages/liveblocks-react/src/__tests__/index.test.tsx
  packages/liveblocks-react/src/lib/retry-error.ts
  packages/liveblocks-redux/src/__tests__/_utils.ts
  packages/liveblocks-zustand/src/__tests__/_utils.ts
Owners: @nvie

Rename to memoizeOnSuccess
  packages/liveblocks-core/src/index.ts
  packages/liveblocks-core/src/lib/utils.ts
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Update packages/liveblocks-react-ui/src/primitives/Composer/utils.ts
  packages/liveblocks-react-ui/src/primitives/Composer/utils.ts
Owners: @marcbouchenoire

Not needed here
  packages/liveblocks-react/src/lib/retry-error.ts
Owners: @nvie

Fix type imports
  packages/liveblocks-react/src/__tests__/_MockWebSocket.ts
Owners: @nvie

Explicitly include all env vars the CI jobs depend on
  turbo.json
Owners: none

Fix CI (#1802)
  turbo.json
Owners: none

Remove unneeded type cast
  packages/liveblocks-react-ui/src/primitives/Composer/utils.ts
Owners: @marcbouchenoire

Disable all auto-deployments
  vercel.json
Owners: none

Add support for custom links to Comments composer (#1780)
  CHANGELOG.md
  package-lock.json
  packages/liveblocks-core/src/comments/__tests__/comment-body.test.ts
  packages/liveblocks-core/src/comments/comment-body.ts
  packages/liveblocks-core/src/protocol/Comments.ts
  packages/liveblocks-react-ui/package.json
  packages/liveblocks-react-ui/src/primitives/Comment/index.tsx
  packages/liveblocks-react-ui/src/primitives/Comment/utils.ts
  packages/liveblocks-react-ui/src/primitives/Composer/__tests__/utils.test.ts
  packages/liveblocks-react-ui/src/primitives/Composer/index.tsx
  packages/liveblocks-react-ui/src/primitives/Composer/types.ts
  packages/liveblocks-react-ui/src/primitives/Composer/utils.ts
  packages/liveblocks-react-ui/src/slate.d.ts
  packages/liveblocks-react-ui/src/slate/plugins/auto-links.ts
  packages/liveblocks-react-ui/src/slate/plugins/custom-links.ts
  packages/liveblocks-react-ui/src/slate/plugins/paste-html.ts
  packages/liveblocks-react-ui/src/slate/utils/is-empty.ts
  packages/liveblocks-react-ui/src/slate/utils/is-text.ts
  packages/liveblocks-react-ui/src/slate/utils/selection-contains-inlines.ts
  packages/liveblocks-react-ui/src/types.ts
Owners: @nvie, @marcbouchenoire

Disable all Vercel auto deployments (#1803)
  vercel.json
Owners: none

Deploy examples to Vercel, when there is a commit to the "examples" branch
  .github/workflows/deploy-examples.yml
Owners: none

Update URLs
  .github/workflows/deploy-examples.yml
Owners: none

Deploy examples to Vercel, whenever there is a commit to the "examples" branch (#1804)
  .github/workflows/deploy-examples.yml
Owners: none

Rename job name
  .github/workflows/deploy-examples.yml
Owners: none

Make logging a bit nicer
  .github/workflows/deploy-examples.yml
Owners: none

Rename workflow's job name (#1806)
  .github/workflows/deploy-examples.yml
Owners: none

Deploy all examples
  .github/workflows/deploy-examples.yml
Owners: none

Fix broken `useTransition` fallback (#1800)
  CHANGELOG.md
  packages/liveblocks-react-ui/src/utils/use-transition.ts
Owners: @marcbouchenoire

Lints
  packages/liveblocks-core/src/lib/utils.ts
Owners: @nvie

Preserve whitespace and empty lines
  packages/liveblocks-react-ui/src/primitives/Comment/index.tsx
Owners: @marcbouchenoire

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Document new hooks
  docs/pages/api-reference/liveblocks-react-ui.mdx
  docs/pages/api-reference/liveblocks-react.mdx
  docs/pages/products/comments/hooks.mdx
  packages/liveblocks-react/test-d/jsdocs.test-d.ts
Owners: @CTNicholas, @nvie

Deploy all examples (#1807)
  .github/workflows/deploy-examples.yml
Owners: none

Upgrade `lexical` peer dependency to `^0.16.1`
  examples/nextjs-lexical/package-lock.json
  examples/nextjs-lexical/package.json
  package-lock.json
  packages/liveblocks-node-lexical/package.json
  packages/liveblocks-react-lexical/package.json
Owners: @CTNicholas, @nvie

Update `CHANGELOG.md`
  CHANGELOG.md
Owners: none

.github/CODEOWNERS:

# Public packages
/packages/   @nvie
/packages/liveblocks-node/   @nvie @ofoucherot @FlowFlorent
/packages/liveblocks-react-ui/   @marcbouchenoire
/tools/create-liveblocks-app/   @CTNicholas
/tools/liveblocks-devtools/   @nvie @marcbouchenoire
/shared/   @nvie
/e2e/   @nvie

# Examples, docs, and starter kit
/starter-kits/   @CTNicholas
/examples/   @CTNicholas
/docs/   @CTNicholas

# Schema validation
/schema-lang/   @nvie

# Scripts
/scripts/   @nvie
