Repository liveblocks/liveblocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvie, @marcbouchenoire, @CTNicholas, @ofoucherot, @FlowFlorent

.github/CODEOWNERS:

# Public packages
/packages/   @nvie
/packages/liveblocks-devtools/   @nvie @marcbouchenoire
/packages/create-liveblocks-app/   @CTNicholas
/packages/liveblocks-node/   @nvie @ofoucherot @FlowFlorent 
/shared/   @nvie
/e2e/   @nvie

# Examples, docs, and starter kit
/starter-kits/   @CTNicholas
/examples/   @CTNicholas
/docs/   @CTNicholas

# Schema validation
/schema-lang/   @nvie

# Scripts
/scripts/   @nvie

# Vercel deployments
/scripts/should-example-rebuild-on-vercel.sh   @nvie @marcbouchenoire

Enable ES lint rules that require the assistence of the type checker
  shared/eslint-config/index.js
Owners: @nvie

Remove unneeded explicit casts
  packages/liveblocks-core/src/crdts/__tests__/LiveObject.test.ts
  packages/liveblocks-core/src/immutable.ts
  packages/liveblocks-core/src/lib/position.ts
  packages/liveblocks-core/src/room.ts
  packages/liveblocks-devtools/src/devtools/components/Tree.tsx
  packages/liveblocks-react/src/factory.tsx
  packages/liveblocks-redux/src/__tests__/index.test.ts
  packages/liveblocks-redux/src/index.ts
Owners: @nvie, @marcbouchenoire

Use only strings in template literals
  packages/liveblocks-node/src/webhooks.ts
Owners: @nvie, @ofoucherot, @FlowFlorent

The liveblocks-redux package has too many explicit and implicit anys, let's ignore these all for now
  packages/liveblocks-redux/.eslintrc.js
Owners: @nvie

Remove comment
  packages/liveblocks-core/src/room.ts
Owners: @nvie

fix: Flowchart
  examples/zustand-flowchart/pages/index.tsx
Owners: @CTNicholas

Fix for flowchart state being empty (#860)
  examples/zustand-flowchart/pages/index.tsx
Owners: @CTNicholas

Tweaks: Schema API reference (#851)
  docs/references/v2.openapi.json
Owners: @CTNicholas

Simplify MockWebSocket implementation
  packages/liveblocks-core/src/__tests__/_utils.ts
  packages/liveblocks-core/src/__tests__/room.test.ts
Owners: @nvie

Throw when trying to open a WS connection that has already been opened
  packages/liveblocks-core/src/__tests__/_utils.ts
Owners: @nvie

Name simulation helper methods more clearly
  packages/liveblocks-core/src/__tests__/_utils.ts
  packages/liveblocks-core/src/__tests__/room.test.ts
Owners: @nvie

Fix test to more accurately describe the nature of what's happening
  packages/liveblocks-core/src/__tests__/room.test.ts
Owners: @nvie

Tighten ESLint checks (#859)
  packages/liveblocks-core/.eslintrc.js
  packages/liveblocks-core/src/__tests__/_utils.ts
  packages/liveblocks-core/src/__tests__/client.node.test.ts
  packages/liveblocks-core/src/__tests__/room.test.ts
  packages/liveblocks-core/src/client.ts
  packages/liveblocks-core/src/crdts/__tests__/LiveObject.test.ts
  packages/liveblocks-core/src/devtools/bridge.ts
  packages/liveblocks-core/src/devtools/index.ts
  packages/liveblocks-core/src/immutable.ts
  packages/liveblocks-core/src/lib/position.ts
  packages/liveblocks-core/src/refs/__tests__/ValueRef.test.ts
  packages/liveblocks-core/src/room.ts
  packages/liveblocks-devtools/.eslintrc.js
  packages/liveblocks-devtools/package.json
  packages/liveblocks-devtools/src/background.ts
  packages/liveblocks-devtools/src/content.ts
  packages/liveblocks-devtools/src/devtools/components/ResizablePanel.tsx
  packages/liveblocks-devtools/src/devtools/components/Tree.tsx
  packages/liveblocks-devtools/src/devtools/index.tsx
  packages/liveblocks-node/src/webhooks.ts
  packages/liveblocks-react/.eslintrc.js
  packages/liveblocks-react/src/__tests__/index.test.tsx
  packages/liveblocks-react/src/factory.tsx
  packages/liveblocks-redux/.eslintrc.js
  packages/liveblocks-redux/src/__tests__/index.test.ts
  packages/liveblocks-redux/src/index.ts
  packages/liveblocks-zustand/.eslintrc.js
  packages/liveblocks-zustand/src/index.ts
  shared/eslint-config/index.js
Owners: @nvie, @marcbouchenoire, @ofoucherot, @FlowFlorent

Update PR template (#846)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none
