Repository liveblocks/liveblocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvie, @marcbouchenoire, @CTNicholas, @ofoucherot, @FlowFlorent

.github/CODEOWNERS:

# Public packages
/packages/   @nvie
/packages/liveblocks-devtools/   @nvie @marcbouchenoire
/packages/create-liveblocks-app/   @CTNicholas
/packages/liveblocks-node/   @nvie @ofoucherot @FlowFlorent 
/shared/   @nvie
/e2e/   @nvie

# Examples, docs, and starter kit
/starter-kits/   @CTNicholas
/examples/   @CTNicholas
/docs/   @CTNicholas

# Schema validation
/schema-lang/   @nvie

# Scripts
/scripts/   @nvie

# Vercel deployments
/scripts/should-example-rebuild-on-vercel.sh   @nvie @marcbouchenoire

We can no longer (statically) be sure that event.data will be a string.
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Rely on the minimal WebSocket API types, instead of the real thing
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Capture assignability in a unit test
  packages/liveblocks-core/src/__tests__/polyfills.test.ts
Owners: @nvie

Ensure we never rely on the browser-based API accidentally in the future
  packages/liveblocks-core/.eslintrc.js
Owners: @nvie

Use tsd to test important type constraints
  packages/liveblocks-core/package.json
  packages/liveblocks-core/src/__tests__/polyfills.test.ts
  packages/liveblocks-core/test-d/polyfills.test-d.ts
Owners: @nvie

Comment
  packages/liveblocks-core/test-d/polyfills.test-d.ts
Owners: @nvie

Rename file `WebsocketCloseCodes.ts` -> `IWebSocket.ts`
  packages/liveblocks-core/src/__tests__/room.test.ts
  packages/liveblocks-core/src/crdts/__tests__/LiveList.test.ts
  packages/liveblocks-core/src/crdts/__tests__/LiveMap.test.ts
  packages/liveblocks-core/src/crdts/__tests__/LiveObject.test.ts
  packages/liveblocks-core/src/index.ts
  packages/liveblocks-core/src/room.ts
  packages/liveblocks-core/src/types/IWebSocket.ts
Owners: @nvie

Sort imports
  packages/liveblocks-core/src/__tests__/room.test.ts
  packages/liveblocks-core/src/index.ts
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Move to the base config, enforcing this rule on _all_ packages, not just core
  packages/liveblocks-core/.eslintrc.js
  shared/eslint-config/restricted-syntax.js
Owners: @nvie

Fix exported `Pos` APIs (#852)
  CHANGELOG.md
  package-lock.json
  packages/create-liveblocks-app/package.json
  packages/liveblocks-client/package.json
  packages/liveblocks-core/package.json
  packages/liveblocks-core/src/crdts/LiveList.ts
  packages/liveblocks-core/src/index.ts
  packages/liveblocks-core/src/lib/__tests__/position.test.ts
  packages/liveblocks-core/src/lib/position.ts
  packages/liveblocks-node/package.json
  packages/liveblocks-react/package.json
  packages/liveblocks-redux/package.json
  packages/liveblocks-zustand/package.json
Owners: @CTNicholas, @nvie, @ofoucherot, @FlowFlorent

Fix two small highlighting issues (#853)
  docs/pages/guides/troubleshooting.mdx
Owners: @CTNicholas

Bump to 1.0.7
  package-lock.json
  packages/create-liveblocks-app/package.json
  packages/liveblocks-client/package.json
  packages/liveblocks-core/package.json
  packages/liveblocks-node/package.json
  packages/liveblocks-react/package.json
  packages/liveblocks-redux/package.json
  packages/liveblocks-zustand/package.json
Owners: @CTNicholas, @nvie, @ofoucherot, @FlowFlorent

Use single lines, so they're easier to get an overview
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Leave notes on how to ideally refactor MockWebSocket helper
  packages/liveblocks-core/src/__tests__/_utils.ts
Owners: @nvie

Make it clearer where we're testing implementation details
  packages/liveblocks-core/src/__tests__/room.test.ts
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Fix MockWebSocket helper: initial websocket connection is CONNECTING
  packages/liveblocks-core/src/__tests__/_utils.ts
Owners: @nvie

Only expose the `buffer` and `numRetries` field from the context
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Don't make heartbeat() callable from the outside
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Remove unneeded annotation
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Put `id` prop on Machine, like Room
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Pull out separate type for the subscribe function
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Flip pick to omit, to see what's left
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Don't rely on the Machine type here
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Move all internal calls explicitly under __internal
  packages/liveblocks-core/src/__tests__/_utils.ts
  packages/liveblocks-core/src/__tests__/immutable.test.ts
  packages/liveblocks-core/src/__tests__/room.test.ts
  packages/liveblocks-core/src/crdts/__tests__/LiveList.test.ts
  packages/liveblocks-core/src/crdts/__tests__/LiveMap.test.ts
  packages/liveblocks-core/src/crdts/__tests__/LiveObject.test.ts
  packages/liveblocks-core/src/room.ts
Owners: @nvie

DRY up 4 props
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Machine type is now an alias for Room
  packages/liveblocks-core/src/__tests__/_utils.ts
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Keep long function signatures on one line
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Add TODO note
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Remove a couple more "as any"s
  packages/liveblocks-core/src/__tests__/_utils.ts
Owners: @nvie

Fix outer type signature
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Remove Machine type
  packages/liveblocks-core/src/__tests__/_utils.ts
  packages/liveblocks-core/src/room.ts
Owners: @nvie

DRY up __internal prop
  packages/liveblocks-core/src/room.ts
Owners: @nvie

DRY up 8 more props
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Remove comments
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Structure it so we can move off all props from Machine, and onto Room type
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Leave notes on how to refactor into a FSM
  packages/liveblocks-core/src/__tests__/_utils.ts
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Pull out `events` ivar
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Simplify makeClassicSubscribeFn() wrapper
  packages/liveblocks-core/src/__tests__/_utils.ts
  packages/liveblocks-core/src/__tests__/room.test.ts
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Make all event types readonly
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Consistency pass: stop using "machine" in tests, use "room" now
  packages/liveblocks-core/src/__tests__/_utils.ts
  packages/liveblocks-core/src/__tests__/immutable.test.ts
  packages/liveblocks-core/src/__tests__/room.test.ts
  packages/liveblocks-core/src/crdts/__tests__/LiveList.test.ts
Owners: @nvie
