Repository liveblocks/liveblocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvie, @sugardarius, @marcbouchenoire, @jrowny, @nimeshnayaju, @ofoucherot, @FlowFlorent, @CTNicholas

.github/CODEOWNERS:

# Public packages
/packages/	@nvie
/packages/liveblocks-core/	@nvie @sugardarius @marcbouchenoire
/packages/liveblocks-client/	@nvie @sugardarius @marcbouchenoire
/packages/liveblocks-react/	@nvie @sugardarius @marcbouchenoire
/packages/liveblocks-react-ui/	@marcbouchenoire @jrowny
/packages/liveblocks-react-lexical/	@jrowny @nimeshnayaju
/packages/liveblocks-react-tiptap/	@jrowny @nimeshnayaju
/packages/liveblocks-emails/	@sugardarius
/packages/liveblocks-node/	@nvie @ofoucherot @FlowFlorent
/packages/liveblocks-node-lexical/	@jrowny
/packages/liveblocks-node-prosemirror/	@jrowny
/packages/liveblocks-yjs/	@jrowny @nimeshnayaju
/packages/liveblocks-zustand/	@nvie @sugardarius
/packages/liveblocks-redux/	@nvie @sugardarius
/tools/create-liveblocks-app/   @CTNicholas
/tools/liveblocks-devtools/   @nvie @marcbouchenoire
/shared/   @nvie
/e2e/   @nvie

# Examples, docs, and starter kit
/starter-kits/   @CTNicholas
/examples/   @CTNicholas
/docs/   @CTNicholas

# Schema validation
/schema-lang/   @nvie

# Scripts
/scripts/   @nvie

Update CHANGELOG_PUBLIC.md
  CHANGELOG_PUBLIC.md
Owners: none

Update CHANGELOG_PUBLIC.md
  CHANGELOG_PUBLIC.md
Owners: none

CHANGELOG — WEEK 07 (#2222)
  CHANGELOG_PUBLIC.md
Owners: none

Update CHANGELOG_PUBLIC.md
  CHANGELOG_PUBLIC.md
Owners: none

Mention node (#2233)
  packages/liveblocks-react-tiptap/src/index.ts
  packages/liveblocks-react-tiptap/src/mentions/MentionExtension.ts
  packages/liveblocks-react-tiptap/src/mentions/MentionNode.ts
  packages/liveblocks-react-tiptap/src/types.ts
Owners: @jrowny, @nimeshnayaju

initial blocknote commit
  .github/workflows/publish-packages.yml
  .github/workflows/tests.yml
  package-lock.json
  packages/liveblocks-react-blocknote/.eslintrc.js
  packages/liveblocks-react-blocknote/.gitignore
  packages/liveblocks-react-blocknote/.stylelintrc.js
  packages/liveblocks-react-blocknote/jest.config.js
  packages/liveblocks-react-blocknote/package.json
  packages/liveblocks-react-blocknote/rollup.config.mjs
  packages/liveblocks-react-blocknote/src/BlockNoteLiveblocksExtension.ts
  packages/liveblocks-react-blocknote/src/__tests__/index.test.ts
  packages/liveblocks-react-blocknote/src/comments/AnchoredThreads.tsx
  packages/liveblocks-react-blocknote/src/comments/FloatingComposer.tsx
  packages/liveblocks-react-blocknote/src/comments/FloatingThreads.tsx
  packages/liveblocks-react-blocknote/src/index.ts
  packages/liveblocks-react-blocknote/src/initialization/liveblocksEditorOptions.ts
  packages/liveblocks-react-blocknote/src/initialization/schema.ts
  packages/liveblocks-react-blocknote/src/initialization/useCreateBlockNoteWithLiveblocks.ts
  packages/liveblocks-react-blocknote/src/styles/index.css
  packages/liveblocks-react-blocknote/src/version-history/HistoryVersionPreview.tsx
  packages/liveblocks-react-blocknote/src/version.ts
  packages/liveblocks-react-blocknote/styles.css.d.ts
  packages/liveblocks-react-blocknote/test-d/index.test-d.ts
  packages/liveblocks-react-blocknote/tsconfig.json
Owners: @nvie

Add Deque datastructure
  packages/liveblocks-core/src/lib/Deque.ts
  packages/liveblocks-core/src/lib/__tests__/Deque.test.ts
Owners: @nvie, @sugardarius, @marcbouchenoire

Update changelog
  CHANGELOG.md
Owners: none

Avoid expensive .unshift(...spread) by using a Deque
  packages/liveblocks-core/src/lib/Deque.ts
  packages/liveblocks-core/src/lib/__tests__/Deque.test.ts
  packages/liveblocks-core/src/room.ts
Owners: @nvie, @sugardarius, @marcbouchenoire

feat: Fix plans page and add data storage calculation info
  docs/pages/platform/plans.mdx
Owners: @CTNicholas
