Repository liveblocks/liveblocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvie, @ofoucherot, @FlowFlorent, @marcbouchenoire, @CTNicholas

.github/CODEOWNERS:

# Public packages
/packages/   @nvie
/packages/liveblocks-node/   @nvie @ofoucherot @FlowFlorent
/packages/liveblocks-react-ui/   @marcbouchenoire
/tools/create-liveblocks-app/   @CTNicholas
/tools/liveblocks-devtools/   @nvie @marcbouchenoire
/shared/   @nvie
/e2e/   @nvie

# Examples, docs, and starter kit
/starter-kits/   @CTNicholas
/examples/   @CTNicholas
/docs/   @CTNicholas

# Schema validation
/schema-lang/   @nvie

# Scripts
/scripts/   @nvie

Remove `Next.js` compatibility banner from 'Get Started' guides
  docs/pages/get-started/nextjs-lexical.mdx
  docs/pages/get-started/react-lexical.mdx
Owners: @CTNicholas

small changes
  docs/pages/platform/upgrading/2.2.mdx
  docs/pages/platform/webhooks.mdx
Owners: @CTNicholas

add tests, small fixes
  packages/liveblocks-node/src/client.ts
  packages/liveblocks-node/test-d/augmentation.test-d.ts
  packages/liveblocks-node/test-d/no-augmentation.test-d.ts
Owners: @nvie, @ofoucherot, @FlowFlorent

small typo
  docs/pages/platform/upgrading/2.2.mdx
Owners: @CTNicholas

Remove remaining beta tags/badges for Comments/Notifications
  docs/pages/api-reference/liveblocks-node.mdx
  docs/references/v2.openapi.json
  packages/liveblocks-react-ui/src/components/InboxNotification.tsx
  packages/liveblocks-react-ui/src/components/InboxNotificationList.tsx
  packages/liveblocks-react/src/liveblocks.tsx
  packages/liveblocks-react/src/room.tsx
  packages/liveblocks-react/src/types.ts
Owners: @CTNicholas, @marcbouchenoire, @nvie

Remove remaining beta tags/badges for Comments/Notifications (#1811)
  docs/pages/api-reference/liveblocks-node.mdx
  docs/references/v2.openapi.json
  packages/liveblocks-react-ui/src/components/InboxNotification.tsx
  packages/liveblocks-react-ui/src/components/InboxNotificationList.tsx
  packages/liveblocks-react/src/liveblocks.tsx
  packages/liveblocks-react/src/room.tsx
  packages/liveblocks-react/src/types.ts
Owners: @CTNicholas, @marcbouchenoire, @nvie

Upgrade `lexical` peer dependency to `^0.16.1` (#1810)
  CHANGELOG.md
  docs/pages/get-started/nextjs-lexical.mdx
  docs/pages/get-started/react-lexical.mdx
  examples/nextjs-lexical/package-lock.json
  examples/nextjs-lexical/package.json
  package-lock.json
  packages/liveblocks-node-lexical/package.json
  packages/liveblocks-react-lexical/package.json
Owners: @CTNicholas, @nvie

Pin `lexical` peer dependencies for `@liveblocks/lexical-react`
  examples/nextjs-lexical/package.json
  package-lock.json
  packages/liveblocks-react-lexical/package.json
Owners: @CTNicholas, @nvie

Pin `lexical` peer dependency to `0.16.1` on `@liveblocks/react-lexical`
  examples/nextjs-lexical/package.json
  package-lock.json
  packages/liveblocks-react-lexical/package.json
Owners: @CTNicholas, @nvie

Pin `lexical` peer dependency to `0.16.1` on `@liveblocks/react-lexical` (#1812)
  examples/nextjs-lexical/package.json
  package-lock.json
  packages/liveblocks-react-lexical/package.json
Owners: @CTNicholas, @nvie

Update liveblocks-react.mdx
  docs/pages/api-reference/liveblocks-react.mdx
Owners: @CTNicholas

Upgrade to Node 22.x
  .github/workflows/publish-cli-tools.yml
  .github/workflows/publish-devtools.yml
  .github/workflows/publish-packages.yml
  .github/workflows/tests.yml
  .nvmrc
  package-lock.json
  package.json
Owners: none

Fix: avoid unneeded re-renders if inbox notifications haven't changed (#1799)
  CHANGELOG.md
  packages/liveblocks-react/src/liveblocks.tsx
Owners: @nvie

Ensure there is no WebSocket API before running this test
  packages/liveblocks-core/src/__tests__/client.node.test.ts
Owners: @nvie

PR feedback: remove alternative (2), settle for alternative (1)
  e2e/next-sandbox/pages/storage/list.tsx
  packages/liveblocks-react/src/room.tsx
  packages/liveblocks-react/src/types.ts
Owners: @nvie

Preserve whitespace and empty lines in comments (#1808)
  CHANGELOG.md
  packages/liveblocks-react-ui/src/primitives/Comment/index.tsx
Owners: @marcbouchenoire

Upgrade to Node 22.x (for internal development) (#1814)
  .github/workflows/publish-cli-tools.yml
  .github/workflows/publish-devtools.yml
  .github/workflows/publish-packages.yml
  .github/workflows/tests.yml
  .nvmrc
  package-lock.json
  package.json
  packages/liveblocks-core/src/__tests__/client.node.test.ts
Owners: @nvie

Fix code example in liveblocks-react.mdx (#1813)
  docs/pages/api-reference/liveblocks-react.mdx
Owners: @CTNicholas
