Repository liveblocks/liveblocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvie, @marcbouchenoire, @CTNicholas, @ofoucherot, @FlowFlorent

Tweak and fix category headers
  packages/liveblocks-react-comments/src/styles/dark/index.scss
  packages/liveblocks-react-comments/src/styles/index.scss
Owners: @marcbouchenoire

Fix requestIdleCallback ponyfill
  packages/liveblocks-react-comments/src/utils/request-idle-callback.ts
Owners: @marcbouchenoire

Use requestIdleCallback to start fetching the emoji data
  packages/liveblocks-react-comments/src/primitives/EmojiPicker/index.tsx
  packages/liveblocks-react-comments/src/utils/request-idle-callback.ts
Owners: @marcbouchenoire

Implement request deduping and handle race conditions during mutations and revalidation. (#1142)
  CHANGELOG.md
  packages/liveblocks-react/src/comments/CommentsRoom.ts
  packages/liveblocks-react/src/comments/lib/store.ts
Owners: @nvie

Add `nonce` field to `ROOM_STATE` message (#1148)
  packages/liveblocks-core/src/__tests__/_behaviors.ts
  packages/liveblocks-core/src/__tests__/_utils.ts
  packages/liveblocks-core/src/__tests__/room.test.ts
  packages/liveblocks-core/src/protocol/ServerMsg.ts
  packages/liveblocks-react/src/__tests__/_MockWebSocket.ts
  packages/liveblocks-redux/src/__tests__/_utils.ts
  packages/liveblocks-redux/src/__tests__/index.test.ts
  packages/liveblocks-zustand/src/__tests__/_utils.ts
  packages/liveblocks-zustand/src/__tests__/index.test.ts
Owners: @nvie

Fix `useThreads`, `useEditThreadMetada`, etc comment hooks not working on non-suspense export (#1150)
  CHANGELOG.md
  packages/liveblocks-react/src/comments/CommentsRoom.ts
  packages/liveblocks-react/src/factory.tsx
Owners: @nvie

Bump to 1.3.5
  package-lock.json
  packages/create-liveblocks-app/package.json
  packages/liveblocks-client/package.json
  packages/liveblocks-core/package.json
  packages/liveblocks-node/package.json
  packages/liveblocks-react-comments/package.json
  packages/liveblocks-react/package.json
  packages/liveblocks-redux/package.json
  packages/liveblocks-yjs/package.json
  packages/liveblocks-zustand/package.json
Owners: @CTNicholas, @nvie, @ofoucherot, @FlowFlorent, @marcbouchenoire

Comments: Various changes (#1144)
  package-lock.json
  packages/liveblocks-react-comments/package.json
  packages/liveblocks-react-comments/src/components/Comment.tsx
Owners: @marcbouchenoire

Add Twemoji Mozilla font family
  packages/liveblocks-react-comments/src/constants.ts
Owners: @marcbouchenoire

Fix test
  packages/liveblocks-react-comments/src/__tests__/index.test.tsx
Owners: @marcbouchenoire

Fix emoji picker
  packages/liveblocks-react-comments/src/primitives/EmojiPicker/index.tsx
Owners: @marcbouchenoire

Show emoji in reaction tooltip
  packages/liveblocks-react-comments/src/components/Comment.tsx
  packages/liveblocks-react-comments/src/overrides.tsx
Owners: @marcbouchenoire

Handle emoji picker errors
  packages/liveblocks-react-comments/src/components/internal/EmojiPicker.tsx
  packages/liveblocks-react-comments/src/overrides.tsx
  packages/liveblocks-react-comments/src/primitives/EmojiPicker/index.tsx
  packages/liveblocks-react-comments/src/primitives/EmojiPicker/types.ts
  packages/liveblocks-react-comments/src/styles/index.scss
Owners: @marcbouchenoire

Document reaction hooks
  docs/pages/api-reference/liveblocks-react.mdx
  packages/liveblocks-react/src/types.ts
Owners: @CTNicholas, @nvie

Increase emoji sizes
  packages/liveblocks-react-comments/src/styles/index.scss
Owners: @marcbouchenoire

Add JSDoc comments
  docs/pages/api-reference/liveblocks-react-comments.mdx
  packages/liveblocks-react-comments/src/components/internal/EmojiPicker.tsx
  packages/liveblocks-react-comments/src/primitives/EmojiPicker/types.ts
  packages/liveblocks-react-comments/src/primitives/Timestamp.tsx
  packages/liveblocks-react/src/comments/CommentsRoom.ts
  packages/liveblocks-react/src/types.ts
Owners: @CTNicholas, @marcbouchenoire, @nvie

Add reaction label
  packages/liveblocks-react-comments/src/components/Comment.tsx
  packages/liveblocks-react-comments/src/overrides.tsx
Owners: @marcbouchenoire

Support HTTP fallback with any token type (#1152)
  CHANGELOG.md
  packages/liveblocks-core/src/client.ts
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Bump to 1.3.6
  package-lock.json
  packages/create-liveblocks-app/package.json
  packages/liveblocks-client/package.json
  packages/liveblocks-core/package.json
  packages/liveblocks-node/package.json
  packages/liveblocks-react-comments/package.json
  packages/liveblocks-react/package.json
  packages/liveblocks-redux/package.json
  packages/liveblocks-yjs/package.json
  packages/liveblocks-zustand/package.json
Owners: @CTNicholas, @nvie, @ofoucherot, @FlowFlorent, @marcbouchenoire

Inline custom shell script into package command (#1153)
  schema-lang/liveblocks-schema/bin/build-parser
  schema-lang/liveblocks-schema/bin/parse-schema
  schema-lang/liveblocks-schema/bin/run-tests
  schema-lang/liveblocks-schema/package.json
  schema-lang/liveblocks-schema/turbo.json
Owners: @nvie

Remove search input default styles
  packages/liveblocks-react-comments/src/styles/index.scss
Owners: @marcbouchenoire

Add showReactions props
  docs/pages/api-reference/liveblocks-react-comments.mdx
  packages/liveblocks-react-comments/src/components/Comment.tsx
  packages/liveblocks-react-comments/src/components/Thread.tsx
  packages/liveblocks-react-comments/src/components/internal/Button.tsx
  packages/liveblocks-react-comments/src/components/internal/Dropdown.tsx
  packages/liveblocks-react-comments/src/components/internal/EmojiPicker.tsx
  packages/liveblocks-react-comments/src/components/internal/List.tsx
  packages/liveblocks-react-comments/src/components/internal/QuickEmojiPicker.tsx
  packages/liveblocks-react-comments/src/components/internal/Tooltip.tsx
Owners: @CTNicholas, @marcbouchenoire

Harmonize placeholder styles
  packages/liveblocks-react-comments/src/primitives/Composer/index.tsx
  packages/liveblocks-react-comments/src/styles/index.scss
Owners: @marcbouchenoire

Change quick emojis
  packages/liveblocks-react-comments/src/components/internal/QuickEmojiPicker.tsx
Owners: @marcbouchenoire

Rename onResolveChange to onResolvedChange
  docs/pages/api-reference/liveblocks-react-comments.mdx
  packages/liveblocks-react-comments/src/components/Thread.tsx
Owners: @CTNicholas, @marcbouchenoire

Use specific Emojibase version to stay in sync with the REST API
  docs/pages/api-reference/liveblocks-react.mdx
  packages/liveblocks-react-comments/src/primitives/EmojiPicker/utils.ts
  packages/liveblocks-react/src/types.ts
Owners: @CTNicholas, @marcbouchenoire, @nvie

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Fix package-lock.json
  package-lock.json
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Update changelog
  CHANGELOG.md
Owners: none

Clarify docs
  docs/pages/api-reference/liveblocks-client.mdx
Owners: @CTNicholas

Document new property
  docs/pages/api-reference/liveblocks-client.mdx
Owners: @CTNicholas

Add `user` when receiving broadcast events
  packages/liveblocks-core/src/room.ts
Owners: @nvie

Fix reaction styles when active
  packages/liveblocks-react-comments/src/styles/index.scss
Owners: @marcbouchenoire

Harmonize Suspense API of useThreads
  packages/liveblocks-react/src/comments/CommentsRoom.ts
  packages/liveblocks-react/src/types.ts
Owners: @nvie

Throw errors when using useAsyncCache with Suspense
  packages/liveblocks-react/src/lib/use-async-cache.ts
Owners: @nvie

Fix tests
  packages/liveblocks-react/src/__tests__/useThreads.test.tsx
Owners: @nvie

Update unit tests
  packages/liveblocks-core/src/__tests__/room.test.ts
Owners: @nvie

Add Suspense mention in the docs
  docs/pages/api-reference/liveblocks-react.mdx
Owners: @CTNicholas

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

.github/CODEOWNERS:

# Public packages
/packages/   @nvie
/packages/liveblocks-devtools/   @nvie @marcbouchenoire
/packages/create-liveblocks-app/   @CTNicholas
/packages/liveblocks-node/   @nvie @ofoucherot @FlowFlorent
/packages/liveblocks-react-comments/   @marcbouchenoire
/shared/   @nvie
/e2e/   @nvie

# Examples, docs, and starter kit
/starter-kits/   @CTNicholas
/examples/   @CTNicholas
/docs/   @CTNicholas

# Schema validation
/schema-lang/   @nvie

# Scripts
/scripts/   @nvie

# Vercel deployments
/scripts/should-example-rebuild-on-vercel.sh   @nvie @marcbouchenoire
