Repository liveblocks/liveblocks, pull requests merged in 2022-10, with the labels that each got.

#487 Updated react-whiteboard for 0.18
  examples/react-whiteboard/package-lock.json
  examples/react-whiteboard/package.json
  examples/react-whiteboard/src/App.css
  examples/react-whiteboard/src/App.js
  examples/react-whiteboard/src/index.css
  examples/react-whiteboard/src/index.js
  examples/react-whiteboard/src/liveblocks.config.js
Labels: don't merge yet

#517 Expose option to connect or not to Liveblocks servers when entering a room
  CHANGELOG.md
  packages/liveblocks-client/src/__tests__/client.node.test.ts
  packages/liveblocks-client/src/client.ts
  packages/liveblocks-client/src/types/index.ts
  packages/liveblocks-react/src/__tests__/index.test.tsx
  packages/liveblocks-react/src/factory.tsx
  packages/liveblocks-react/src/types.ts
Labels: bug

#525 Release: Docs V2
  .github/workflows/docs.yml
  docs/README.md
  docs/pages/api-reference/liveblocks-client.mdx
  docs/pages/api-reference/liveblocks-node.mdx
  docs/pages/api-reference/liveblocks-react.mdx
  docs/pages/api-reference/liveblocks-redux.mdx
  docs/pages/api-reference/liveblocks-zustand.mdx
  docs/pages/api-reference/rest-api-endpoints-v1.mdx
  docs/pages/concepts.mdx
  docs/pages/errors/liveblocks-client/atob-polyfill.mdx
  docs/pages/errors/liveblocks-react/RoomProvider-id-property-is-required.mdx
  docs/pages/get-started.mdx
  docs/pages/get-started/javascript.mdx
  docs/pages/get-started/react-redux.mdx
  docs/pages/get-started/react-zustand.mdx
  docs/pages/get-started/react.mdx
  docs/pages/get-started/vue.mdx
  docs/pages/guides/authentication.mdx
  docs/pages/guides/authentication/express.mdx
  docs/pages/guides/authentication/firebase.mdx
  docs/pages/guides/authentication/next-js.mdx
  docs/pages/guides/authentication/nuxt-js.mdx
  docs/pages/guides/limits.mdx
  docs/pages/guides/managing-rooms-users-permissions.mdx
  docs/pages/guides/troubleshooting.mdx
  docs/pages/guides/upgrading.mdx
  docs/pages/guides/upgrading/0.17.mdx
  docs/pages/guides/upgrading/0.18.mdx
  docs/pages/index.mdx
  docs/pages/tutorials/collaborative-online-whiteboard.mdx
  docs/pages/tutorials/collaborative-online-whiteboard/react-redux.mdx
  docs/pages/tutorials/collaborative-online-whiteboard/react-zustand.mdx
  docs/pages/tutorials/collaborative-online-whiteboard/react.mdx
  docs/pages/tutorials/multiplayer-to-do-list.mdx
  docs/pages/tutorials/multiplayer-to-do-list/javascript.mdx
  docs/pages/tutorials/multiplayer-to-do-list/react-redux.mdx
  docs/pages/tutorials/multiplayer-to-do-list/react-zustand.mdx
  docs/pages/tutorials/multiplayer-to-do-list/react.mdx
  docs/references/v2.openapi.json
  docs/routes.json
Labels: docs

#527 Docs: Port read-only changes
  docs/pages/guides/managing-rooms-users-permissions.mdx
Labels: docs

#528 Follow-up: Port read-only changes
  docs/pages/guides/managing-rooms-users-permissions.mdx
Labels: docs
