Repository liveblocks/liveblocks, pull requests merged in 2024-07, with the labels that each got.

#1790 CHANGELOG — WEEK 27
  CHANGELOG.md
  CHANGELOG_PUBLIC.md
Labels: weekly changelog

#1824 Fix comment, this is implemented in the other overload
  packages/liveblocks-core/src/room.ts
Labels: small

#1842 CHANGELOG — WEEK 29
  CHANGELOG_PUBLIC.md
Labels: weekly changelog

#1853 Docs: Update "Projects" screenshots
  assets/projects/create-project-dialog.jpg
  assets/projects/create-project-dialog.png
  assets/projects/create-project.jpg
  assets/projects/create-project.png
  assets/projects/project-api-keys.jpg
  assets/projects/project-api-keys.png
  assets/projects/project-overview.jpg
  assets/projects/project-overview.png
  assets/projects/project-rooms-detail.jpg
  assets/projects/project-rooms-detail.png
  assets/projects/project-rooms.jpg
  assets/projects/project-rooms.png
  docs/pages/platform/projects.mdx
Labels: documentation

#1854 CHANGELOG — WEEK 30
  CHANGELOG_PUBLIC.md
Labels: weekly changelog
