Repository liveblocks/liveblocks, pull requests merged in 2024-01, with the labels that each got.

#1408 Move (and improve) `resolveUsers`
  examples/nextjs-comments/liveblocks.config.ts
  examples/nextjs-comments/src/app/page.tsx
  packages/liveblocks-client/src/index.ts
  packages/liveblocks-core/src/client.ts
  packages/liveblocks-core/src/index.ts
  packages/liveblocks-core/src/lib/AsyncCache.ts
  packages/liveblocks-core/src/lib/__tests__/AsyncCache.test.ts
  packages/liveblocks-core/src/lib/__tests__/batch.test.ts
  packages/liveblocks-core/src/lib/batch.ts
  packages/liveblocks-core/src/lib/create-store.ts
  packages/liveblocks-core/src/store.ts
  packages/liveblocks-react-comments/src/components/InboxNotification.tsx
  packages/liveblocks-react-comments/src/components/internal/Avatar.tsx
  packages/liveblocks-react-comments/src/components/internal/User.tsx
  packages/liveblocks-react/src/index.ts
  packages/liveblocks-react/src/lib/__tests__/use-async-cache.test.tsx
  packages/liveblocks-react/src/lib/use-async-cache.ts
  packages/liveblocks-react/src/liveblocks.tsx
  packages/liveblocks-react/src/room.tsx
  packages/liveblocks-react/src/shared.tsx
  packages/liveblocks-react/src/types.ts
Labels: comments

#1396 Move (and improve) `resolveMentionSuggestions`
  e2e/next-sandbox/pages/offline.tsx
  examples/nextjs-comments/liveblocks.config.ts
  examples/nextjs-comments/src/app/page.tsx
  packages/liveblocks-client/src/index.ts
  packages/liveblocks-core/src/__tests__/_utils.ts
  packages/liveblocks-core/src/__tests__/immutable.test.ts
  packages/liveblocks-core/src/__tests__/room.test.ts
  packages/liveblocks-core/src/client.ts
  packages/liveblocks-core/src/comments/comment-body.ts
  packages/liveblocks-core/src/crdts/__tests__/LiveList.test.ts
  packages/liveblocks-core/src/crdts/__tests__/LiveMap.test.ts
  packages/liveblocks-core/src/crdts/__tests__/LiveObject.test.ts
  packages/liveblocks-core/src/devtools/index.ts
  packages/liveblocks-core/src/index.ts
  packages/liveblocks-core/src/internal.ts
  packages/liveblocks-core/src/lib/AsyncCache.ts
  packages/liveblocks-core/src/lib/__tests__/AsyncCache.test.ts
  packages/liveblocks-core/src/lib/__tests__/batch.test.ts
  packages/liveblocks-core/src/lib/batch.ts
  packages/liveblocks-core/src/lib/create-store.ts
  packages/liveblocks-core/src/room.ts
  packages/liveblocks-core/src/store.ts
  packages/liveblocks-core/src/types/OptionalPromise.ts
  packages/liveblocks-react-comments/src/components/InboxNotification.tsx
  packages/liveblocks-react-comments/src/components/internal/Avatar.tsx
  packages/liveblocks-react-comments/src/components/internal/User.tsx
  packages/liveblocks-react-comments/src/utils/use-debounce.ts
  packages/liveblocks-react/src/comments/lib/use-debounce.ts
  packages/liveblocks-react/src/index.ts
  packages/liveblocks-react/src/lib/__tests__/use-async-cache.test.tsx
  packages/liveblocks-react/src/lib/use-async-cache.ts
  packages/liveblocks-react/src/liveblocks.tsx
  packages/liveblocks-react/src/room.tsx
  packages/liveblocks-react/src/shared.tsx
  packages/liveblocks-react/src/types.ts
Labels: comments

#1426 Comment audio example: Refine design 👨🏻‍🎨
  examples/nextjs-comments-audio/package-lock.json
  examples/nextjs-comments-audio/package.json
  examples/nextjs-comments-audio/postcss.config.js
  examples/nextjs-comments-audio/src/app/Room.tsx
  examples/nextjs-comments-audio/src/app/layout.tsx
  examples/nextjs-comments-audio/src/app/page.module.css
  examples/nextjs-comments-audio/src/app/page.tsx
  examples/nextjs-comments-audio/src/components/AudioPlayer.module.css
  examples/nextjs-comments-audio/src/components/AudioPlayer.tsx
  examples/nextjs-comments-audio/src/components/CircularButton.module.css
  examples/nextjs-comments-audio/src/components/CircularButton.tsx
  examples/nextjs-comments-audio/src/components/Link.module.css
  examples/nextjs-comments-audio/src/components/Link.tsx
  examples/nextjs-comments-audio/src/components/Loading.module.css
  examples/nextjs-comments-audio/src/components/Loading.tsx
  examples/nextjs-comments-audio/src/components/Logo.tsx
  examples/nextjs-comments-audio/src/components/Mention.module.css
  examples/nextjs-comments-audio/src/components/Mention.tsx
  examples/nextjs-comments-audio/src/components/MentionSuggestions.module.css
  examples/nextjs-comments-audio/src/components/MentionSuggestions.tsx
  examples/nextjs-comments-audio/src/components/NewThreadComposer.module.css
  examples/nextjs-comments-audio/src/components/NewThreadComposer.tsx
  examples/nextjs-comments-audio/src/components/Presence.module.css
  examples/nextjs-comments-audio/src/components/Presence.tsx
  examples/nextjs-comments-audio/src/components/RoomErrors.tsx
  examples/nextjs-comments-audio/src/components/Threads.module.css
  examples/nextjs-comments-audio/src/components/Threads.tsx
  examples/nextjs-comments-audio/src/components/ThreadsTimeline.module.css
  examples/nextjs-comments-audio/src/components/ThreadsTimeline.tsx
  examples/nextjs-comments-audio/src/components/WaveForm.module.css
  examples/nextjs-comments-audio/src/components/WaveForm.tsx
  examples/nextjs-comments-audio/src/database.ts
  examples/nextjs-comments-audio/src/globals.css
  examples/nextjs-comments-audio/src/icons/Pause.tsx
  examples/nextjs-comments-audio/src/icons/Play.tsx
  examples/nextjs-comments-audio/src/icons/Send.tsx
  examples/nextjs-comments-audio/src/icons/Time.tsx
  examples/nextjs-comments-audio/tailwind.config.js
Labels: examples

#1438 Add new WebSocket close codes
  packages/liveblocks-core/src/types/IWebSocket.ts
Labels: small
